* {
    padding: 0;
    margin: 0;
    background-color: #f9faff;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 5px 20px;
}

.header h1 {
    font-size: 15px;

}

.header ul {
    list-style: none;
    display: flex;
}

.header ul li {
    padding: 0px 10px;
}

/* section two */
.showcase {
    display: flex;
    justify-content: space-around;
}

.right-showcase {
    margin: 40px 40px;
}

.right-showcase h4 {
    color: #fdc435;
    padding-bottom: 20px;
}

.right-showcase h1 {
    font-size: 45px;
    padding-bottom: 20px;
}

.right-showcase p {
    padding-bottom: 20px;
    color: gray;
    font-size: 15px;
}

.buttoms {
    display: flex;
}

.projectBtn {
    padding: 6px 25px;
    background-color: #fdc435;
    font-size: 15px;
    border: none;
    border-radius: 8px;
}

.linkedBtn {
    padding: 6px 25px;
    font-size: 12px;
    border: 2 solid black;
    border-radius: 8px;
    margin-left: 5px;
}

.left-showcase {
    margin-top: 60px;
    width: 350px;
    height: 350px;
    background-color: #fdc435;
    border-radius: 50%;
}

.left-showcase img {
    width: 350px;
    height: 350px;
}

/* section three */

.pro {
    font-size: 40px;
    text-align: center;
    padding-top: 40px;
}

hr {
    width: 80px;
    border: 1.6px solid #fdc435;
    margin-bottom: 10px;
    margin-left: 380px;
    margin-top: 8px;
}

.products {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    margin-left: 20px;
    box-shadow: 3px 6px 8px gray;
    border-radius: 15px;
    width: 800px;
    margin-bottom: 30px;
}

.products img {
    width: 350px;
    padding-left: 160px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.product-name {
    margin-top: 80px;
    margin-left: 100px;
}

.product-name h1 {
    padding-bottom: 25px;
}

.product-name p {
    color: gray;
    font-size: 12px;
    padding-bottom: 25px;
}

.viewBtn {
    padding: 6px 25px;
    font-size: 12px;
    border: 2 solid black;
    border-radius: 15px;
    margin-left: 5px;
}

.products2 {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    margin-left: 20px;
    box-shadow: 3px 6px 8px gray;
    border-radius: 15px;
    width: 800px;
    margin-bottom: 30px;
}

.products2 img {
    width: 350px;
    padding-right: 130px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.product-name2 {
    margin-top: 80px;
    margin-right: 100px;
}

.product-name2 h1 {
    padding-bottom: 25px;
}

.product-name2 p {
    color: gray;
    font-size: 12px;
    padding-bottom: 25px;
}

/*  */

.footer {
    padding-top: 20px;
    text-align: center;
}

.footer p {
    padding-top: 10px;
    color: gray;
    font-size: 10px;
}

.footer i {
    font-size: 25px;
    padding: 0px 10px;
}

#menu-icon {
    display: none;
}
#close-icon{
    display: none;
    font-size: 30px;
    position: absolute;
    right: 5px;
}

/* responsive */

@media screen and (max-width: 700px) {
    .header {
        margin: 0;
    }

    .header ul {
        display: none;
    }
    .header ul li{
        padding-top: 10px;
        background-color: #fdc435;
        padding: 10px 30px;
    }
    .header ul li:hover{
        text-decoration: underline;
    }

    .header h1 {
        font-size: 30px;
        padding-left: 5px;
        padding-top: 2px;
    }

    #menu-icon {
        display: block;
        font-size: 30px;
        padding-right: 8px;
        padding-top: 5px;
    }

    .showcase {
        padding: 0;
        margin: 0;
        display: block;
    }

    .right-showcase {
        margin: 0;
        padding: 0;
    }

    .right-showcase h4 {
        padding-left: 8px;
        padding-top: 50px;
    }

    .right-showcase h1 {
        padding-left: 8px;
    }

    .right-showcase p {
        padding-left: 8px;
        padding-right: 5px;
    }

    .buttoms {
        display: block;
    }

    .projectBtn {
        padding: 8px 80px;
        font-size: 25px;
        margin-left: 48px;
    }
    .linkedBtn{
        margin-top: 20px;
        padding: 6px 70px;
        font-size: 25px;
        margin-left: 48px;
    }

    /* section two responsive */

    hr{
        margin-left: 155px;
    }
    .products{
        width: 350px;
        display: block;
    }
    .product-name{
        margin: 0;
        padding: 30px 20px;
        border-radius: 20px;
    }
    .products img{
        width: 350px;
        padding-left: 2px;
        padding-top: 50px;
        border-radius: 8px;
    }
    .products2{
        width: 350px;
        display: block;
    }
    .product-name2{
        margin: 0;
        padding: 30px 20px;
        border-radius: 20px;
    }
    .products2 img{
        width: 350px;
        padding-left: 2px;
        /* padding-top: 50px; */
        border-radius: 8px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    #close-icon{
        display: none;
    }

}